@tailwind base;
@tailwind components;
@tailwind utilities;



:root  {
  --background: 209 0% 95%;
  --foreground: 209 0% 9%;
  --card: 209 0% 90%;
  --card-foreground: 209 0% 10%;
  --popover: 209 0% 95%;
  --popover-foreground: 209 95% 9%;
  --primary: 209 57% 47%;
  --primary-foreground: 0 0% 100%;
  --secondary: 209 10% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 171 10% 85%;
  --muted-foreground: 209 0% 35%;
  --accent: 171 10% 80%;
  --accent-foreground: 209 0% 10%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 209 0% 90%;
  --border: 209 20% 50%;
  --input: 209 20% 18%;
  --ring: 209 57% 47%;
  --radius: 0.3rem;
}
@media (prefers-color-scheme: dark) {
  :root  {
    --background: 209 10% 9%;
    --foreground: 209 0% 90%;
    --card: 209 0% 9%;
    --card-foreground: 209 0% 90%;
    --popover: 209 10% 5%;
    --popover-foreground: 209 0% 90%;
    --primary: 209 57% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 209 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 171 10% 15%;
    --muted-foreground: 209 0% 60%;
    --accent: 171 10% 15%;
    --accent-foreground: 209 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 209 0% 90%;
    --border: 209 20% 18%;
    --input: 209 20% 18%;
    --ring: 209 57% 47%;
    --radius: 0.3rem;
  }
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 209 0% 95%;
    --foreground: 209 0% 9%;
    --card: 209 0% 90%;
    --card-foreground: 209 0% 10%;
    --popover: 209 0% 95%;
    --popover-foreground: 209 95% 9%;
    --primary: 209 57% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 209 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 171 10% 85%;
    --muted-foreground: 209 0% 35%;
    --accent: 171 10% 80%;
    --accent-foreground: 209 0% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 209 0% 90%;
    --border: 209 20% 50%;
    --input: 209 20% 18%;
    --ring: 209 57% 47%;
    --radius: 0.3rem;
  }
 
  .dark {
    --background: 209 10% 9%;
    --foreground: 209 0% 90%;
    --card: 209 0% 9%;
    --card-foreground: 209 0% 90%;
    --popover: 209 10% 5%;
    --popover-foreground: 209 0% 90%;
    --primary: 209 57% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 209 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 171 10% 15%;
    --muted-foreground: 209 0% 60%;
    --accent: 171 10% 15%;
    --accent-foreground: 209 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 209 0% 90%;
    --border: 209 20% 18%;
    --input: 209 20% 18%;
    --ring: 209 57% 47%;
    --radius: 0.3rem;
  }
}
